// .header {
//   max-width: 992px;
//   margin: auto;

//   .inner {
//     padding-block: 10px;
//   }
// }



.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header_top,
.header_bottom {
max-width: 100%;
background-color: var(--bg-header);
color: var(--white);
}

.header_text_size {
font-size: 18px;
font-weight: 700;
}

.site_logo {
width: 81px;
}

.header_tab_new {
font-size: 16px;
font-weight: 700;
}

.header_bottom {
  border-left: 1px solid var(--white);
}

.header_tab,
.header_tab_new {
  border-top: 1px solid var(--white);
  border-right: 1px solid var(--white);
  padding-block: 5px;
  font-weight: 600;
}

.header_tab.active,
.header_tab_new.active {
  background-color: var(--bg-active-tab);
}


