// .header {
//   max-width: 992px;
//   margin: auto;

//   .inner {
//     padding-block: 10px;
//   }
// }

.header_text_size {
  font-size: 18px;
  font-weight: 700;
}

.site_logo {
  width: 92px;
}

.header_tab_new {
  font-size: 16px;
  font-weight: 700;
}

.header_tab.active,
.header_tab_new.active {
  background-color: var(--bg-active-tab);
}
