@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";


* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --primary: #894064;
  --secondary: #fbf3e2;
  --text-primary: #3d3d3d;
  --text-secondary: #707070;
  --text-ternary: #f54768;
  --text-gray: #808080;
  --text-blured: #6e6e6e;
  --bg-primary: #fff;
  --bg-secondary: #fbf3e2;
  --bg-ternary: #0d76d6;
  --button: #ffc857;
  --border: #d3d3d3;
  --heading: inter;
  --text: inter;
  --error: #c34143;
  --white: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gabarito";
  // src: url(/Assets/Fonts/gabarito/webfonts/Gabarito-Black.woff2) format("woff2");
  src: url(../../public/Fonts/gabarito/webfonts/Gabarito-Black.woff2) format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "Gabarito";
  src: url(../../public/Fonts/gabarito/webfonts/Gabarito-Bold.woff2) format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Gabarito";
  src: url(../../public/Fonts/gabarito/webfonts/Gabarito-ExtraBold.woff2)
    format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Gabarito";
  src: url(../../public/Fonts/gabarito/webfonts/Gabarito-Medium.woff2)
    format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Gabarito";
  src: url(../../public/Fonts/gabarito/webfonts/Gabarito-Regular.woff2)
    format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Gabarito";
  src: url(../../public/Fonts/gabarito/webfonts/Gabarito-SemiBold.woff2)
    format("woff2");
  font-weight: 600;
}

:root {
  --body-secondary: #ffffff;
  --bg-body: #ecf1f3;
  --text-header: #ffffff;
  --white: #fff;
  --black: #000000;
  --bg-header: #012585;
  --bg-active-tab: #c00000;
  --gray: #808080;
  --light-gray: hsl(0, 0%, 50%, 50%);
  --card-active: #2e75b5;
  --bg-previous: #828282;


  --primary: #5f5fff;
  --secondary: #fde9ec;
  --text-primary: #272939;
  --text-secondary: #9d9ea8;
  --text-ternary: #bdbec4;
  --time-starts-in: #ef233c;
  --text-starts-in-dim: #f46c7c;
  --game-tab: #fde9ec;
  --bg-body: #ecf1f3;
  --white: #fff;
  --caution: #ffc600;
  --match-report-players-bg: #eaeaec;
  --completed-btn: #c1fe78;
  --short-summary: #a1ffb1;
  --mega-contest-head: #717280;
  --bg-header: #012585;
}

body {
  background-color: var(--bg-body);
  font-family: "Gabarito", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.background-secondary {
  background-color: var(--body-secondary);
}

.row {
  margin: 0;
}

.container {
  padding: 0 20px;
  max-width: 450px !important;
}

p {
  margin: 0;
}

a{
  text-decoration: none;
}

.app-content {
  padding-bottom: 66px !important;
  padding-top: 90px!important;
}

.pt-150{
    padding-top: 150px!important;
}

#home_slider .slick-prev:before,
#home_slider .slick-next:before,
#home_slider .slick-arrow {
  display: none !important;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header_top,
.header_bottom {
max-width: 100%;
background-color: var(--bg-header);
color: var(--white);
}

.header_bottom {
  border-left: 1px solid var(--white);
}

.header_tab,
.header_tab_new {
  border-top: 1px solid var(--white);
  border-right: 1px solid var(--white);
  padding-block: 5px;
  font-weight: 600;
}

.hbResults{
  padding-top: 64px;
}

.teams {
  line-height: 1;
}

.time-left {
  font-size: 12px;
  font-weight: 400;
}

.slider {
    width: 100%;
    margin-top: 15px;
  }

  .slick-slide {
    max-width: 313px;
    margin: 0 6px;
    border-radius: 10px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .footer-top {
    background-color: var(--bg-header);
  }
  
  .footer-element {
    padding-block: 5px;
    gap: 8px;
  }
  
  .footer-element a {
    color: var(--text-secondary);
    gap: 5px;
  }
  
  .footer-btn-icon {
    width: 24px;
    height: 24px;
    filter: grayscale(100%);
  }
  
  .footer-btn-icon-1 {
    width: 31px;
    height: 20px;
    margin-top: 4px;
  }
  
  .footer-btn-text {
    font-family: "Gabarito", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
    margin-bottom: 0;
    color: var(--white);
  }
  
  .footer-link:hover .footer-btn-text {
    color: white;
  }
  
  .footer-link:hover .footer-btn-icon{
    transform: scale(1.2);
  }
  
  .footer-link:hover .footer-btn-icon-1{
    transform: scale(1.2);
  }

  .background-secondary {
    background-color: var(--body-secondary);
  }



  @media (max-width: 300px) {
    .container {
      padding: 0 8px;
    }
    .team-short-name {
      display: none;
    }
    .caution {
      font-size: 10.5px;
      gap: 0;
    }
    .match-report-head {
      gap: 5px;
    }
    .user-name {
      font-size: 10px;
      text-align: center;
      line-height: 15px;
    }
    .winner {
      font-size: 12px;
      text-align: center;
      line-height: 15px;
    }
    .footer-element {
      gap: 2px;
      padding: 10px 0;
    }
    .footer-btn-text {
      font-size: 10px;
    }
    .row {
      padding: 0;
      margin: 0;
    }
    .playing-teams-container {
      gap: 6px;
    }
    .playing-team {
      padding: 8px 12px;
    }
    .player-name-text {
      font-size: 12px;
    }
    .down-arrow-container img {
      width: 20px;
      height: 20px;
    }
    .vs {
      padding: 0 10px 10px 10px;
    }
    .status {
      font-size: 10px;
      padding: 5px 5px;
    }
    .total-score {
      font-size: 10px;
    }
    .best-score {
      font-size: 10px;
    }
    .best-bowling {
      font-size: 10px;
    }
    .score-summary {
      gap: 5px;
    }
    .btn-contests,
    .btn-predictions,
    .btn-scorecard {
      font-size: 10px;
    }
  }

